{{ 'theme.css' | asset_url | stylesheet_tag }}

<div class="container">
    <div class="left-container">
        {% if section.settings.image_picker_settings %}
           {% assign image_url = section.settings.image_picker_settings | image_url: width: '500' %}
           {{ image_url | image_tag: style: 'height:100vh; object-fit: cover;' }}
        {% endif %}
    </div>
    <div class="right-container">
      <div class="product">
                <h1 class="product-title">"Dizzle" & "Sizzle"</h1>
                <u class="product-title">Extra Virgin Olive Oil</u>
                <div class="rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <h4 class="Reviews">881 Reviews</h4>
                </div>
      </div>
      <div class="billing">
                <div class="quantity">Quantity</div>
                <div class="buttons">
                    <div class="button-set">
                        <button class="Set"><div class="set-offer"><h4>+10% Off</h4></div><div><h3>1</h3></div><div>Set</div>
                        </button>
                        <button class="Set"><div class="set-offer"><h5>Free Shipping!</h5><h5>+14% Off</h5></div><div><h3>2</h3></div><div>Set</div>
                        </button>
                    </div>
                    <div class="button-set">
                        <button class="Set"><div class="set-offer"><h5>Free Shipping!</h5><h5>+15% Off</h5></div><div><h3>3</h3></div><div>Set</div>
                        </button>
                        <button class="Set"><div class="set-offer"><h5>Free Shipping!</h5><h5>+17% Off</h5></div><div><h3>6</h3></div><div>Set</div>
                        </button>   
                    </div>
                </div>
                <hr class="line2"/>
                <div class="bill-details">
                  <label class="box">
                       <input type="radio" checked="checked" class="checkmark" name="opt">
                       One Time Purchase
                  </label>
                  <h5 class="amount">$37</h5>
                </div>
                <hr class="line2"/>
                <div class="bill-details">
                    <label class="box">
                         <input type="radio" checked="checked" class="checkmark" name="opt">
                         Subscribe & Save
                    </label>
                    <h5 class="amount"><s class="strike">$37</s> $33.30</h5>
                </div>
                <div class="dropdown">
                    <div class="select"> 
                      <div>Frequency:</div>
                      <span class="selected">Every 1 Month</span>
                    </div>
                    <div><i class="icon" class="fa-solid fa-chevron-down"></i></div>
                    <ul class="menu">
                      <li class="hidden">Every 1 Month</li>
                      <li>Every 2 Months</li>
                      <li>Every 3 Months</li>
                    </ul>
                </div>
              
                <hr class="line2"/>
                <div class="order">
                    <button class="above"><h3>Subscribe - $33.30</h3></button>
                    <button class="button-below"> hello</button>
                </div>
                <div class="gift">
                    <h4 class="gift"><u>Send as a gift</u></h4>
                </div>
            </div>
    </div
</div>
{% schema  %} 
    {
        "name":"graza",
        "class":"graza",
        "limit": 2,
        "settings": [
            {
                "type":"image_picker",
                "label":"Image Picker",
                "id": "image_picker_settings"
            }
        ],
        "presets": [
            {
                "name":"graza"
            }
        ]
    }
{% endschema %}