{{ 'theme.css' | asset_url | stylesheet_tag }}

<div id="container">
    <div id="left-container">
        {% if section.settings.image_picker_settings  %}
          {{
              section.settings.image_picker_settings | 
              image_url: width:50vw | 
              image_tag: style: 'height:100vh; object-fit: cover;'
          }}
        {% endif %}
    </div>
</div>
{% schema  %} 
    {
        "name":"graza",
        "class":"graza",
        "limit": 2,
        "settings": [
            {
                "type":"image_picker",
                "label":"Image Picker",
                "id": "image_picker_settings"
            }
        ],
        "presets": [
            {
                "name":"graza"
            }
        ]
    }
{% endschema %}