{{ 'theme.css' | asset_url | stylesheet_tag }}

<div class="container">
    <div id="left-container">
        {% if section.settings.image_picker_settings %}
           {% assign image_url = section.settings.image_picker_settings | image_url: width: '500' %}
           {{ image_url | image_tag: style: 'height:100vh; object-fit: cover;' }}
        {% endif %}
    </div>
    <div id="right-container">
      <div id="product">
                <h1 class="product-title">"Dizzle" & "Sizzle"</h1>
                <u class="product-title">Extra Virgin Olive Oil</u>
                <div id="rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <h4 id="Reviews">881 Reviews</h4>
                </div>
      </div>
    </div
</div>
{% schema  %} 
    {
        "name":"graza",
        "class":"graza",
        "limit": 2,
        "settings": [
            {
                "type":"image_picker",
                "label":"Image Picker",
                "id": "image_picker_settings"
            }
        ],
        "presets": [
            {
                "name":"graza"
            }
        ]
    }
{% endschema %}