<h1>hello</h1>
{{ 'theme.css' | asset_url | stylesheet_tag }}

{% schema  %} 
    {
        "name":"Banner",
        "settings": [],
        "presets": [
            {
                "name":"graza"
            }
        ]
    }
{% endschema %}